aiohttp
aiosignal
async-timeout
attrs
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
frozenlist
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
multidict
openai
requests
six
tqdm
urllib3
waitress
Werkzeug
yarl
python-dotenv
